extends layout 

block content 
    div.outer
        h1= title
        div.main
            each anime in anime_list 
                div.second
                    a(href=anime.url) #{anime.title}
                    |  (#{anime.creator.name})
        
            else 
               li there are no anime 