extends layout

block content
  div.formView
    form(method='POST' action='')
      p=title
        div.form-group
          label(for='anime') Anime:
          select#anime.form-control(type='select' placeholder='Select anime' name='anime' required='true')
            - anime_list.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
            for anime in anime_list
              option(value=anime._id, selected=(selected_anime==anime._id.toString() ? 'selected' : false) ) #{anime.title}

        div.form-group
          label(for='studio') Studio:
          input#studio.form-control(type='text' placeholder='Publisher and date information' name='studio' required='true' value=(undefined===availability ? '' : availability.studio))

        div.form-group
          label(for='status') Status:
          select#status.form-control(type='select' placeholder='Select status' name='status' required='true')
            option(value='yet to be aired') yet to be aired
            option(value='finished airing') finished airing
            option(value='Curently airing') Curently airing

        div.form-btn
          button.btn.btn-primary(type='submit') Submit 
          p
            a.delete(href='/catalog/availabilities') cancel
      if errors
        ul
          for error in errors
            li!= error.msg
