extends layout

block content
  div.content
    div.head
      h1 #{title}: #{availability.anime}
    div.formView
      form(method='POST' action='')
        div.form-group
          p Do you really want to delete this Telecast Detail?
            input#availabilityid.form-control(type='hidden',name='availabilityid', required='true', value=availability._id )

        div.form-btn
          button.btn.btn-primary(type='submit') Delete
          p
            a.delete(href='/catalog/availabilities') cancel
