extends layout

block content
  div.outer
    h1= title
    div.main
      each genre  in genre_list
        div.second
          a(href=genre.url) #{genre.genrename}

      else
        li There are no authors.